<!DOCTYPE html>
<html lang="en" ng-app='tableExample' ng-controller="MainController as mainCtrl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
	<link rel="stylesheet" href="./assets/fontawesome/css/all.min.css">

	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/app.css">
	<link rel="stylesheet" href="./css/table.css">

	<title>Table Example</title>

</head>

<body ng-cloak>
	<main>
		<article class="md-whiteframe-9dp">
			<md-toolbar class="md-hue-2">
				<header class="md-toolbar-tools">
					<h1 flex>This is AngualrJS table example</h1>
					<md-button class="md-fab md-mini md-hue-3" aria-label="Add new user" ng-click="mainCtrl.add()">
						<i class="fas fa-user-plus"></i>
					</md-button>
				</header>
			</md-toolbar>
			<section>
				<table class="table">
					<thead>
						<tr>
							<th class="col-1">No</th>
							<th class="col-2">Name</th>
							<th class="col-2">Phone</th>
							<th class="col-3">Email</th>
							<th class="col-1">Edit</th>
							<th class="col-1">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(idx,data) in mainCtrl.example.tableList">
							<td ng-bind="idx + 1">1</td>
							<td ng-bind="data.name">andy.pan</td>
							<td ng-bind="data.phone">0912345678</td>
							<td ng-bind="data.email">andypan@example.com</td>
							<td>
								<md-button class="md-raised md-primary" aria-label="Edit user" ng-click="mainCtrl.edit(idx)">
									<i class="fas fa-user-edit"></i>
								</md-button>
							</td>
							<td>
								<md-button class="md-raised md-warn" aria-label="Delete user" ng-click="mainCtrl.del(idx)">
									<i class="fas fa-user-times"></i>
								</md-button>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</article>
	</main>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

	<script src="./src/module.js"></script>
	<script src="./src/mainController.js"></script>

</body>

</html>